window {
    /* background-image: url("/home/str1ke/.dotfiles/assets/wallpapers/crescent_moon_gradient.jpeg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

