@import "macchiato.css";

* {
    border: none;
    border-radius: 0;
    font-family: 'Caskaydia Cove Nerd Font', monospace;
    font-size: 14px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 0;
}

#workspaces {
	border-radius: 1rem;
    margin: 5px;
	background-color: @surface0;
	margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
	color: @sapphire;
	border-radius: 1rem;
}

#window,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#disk,
#temperature,
#custom-music,
#custom-launcher,
#custom-updates,
#custom-nordvpn,
#custom-power {
    background-color: @surface0;
    color: @text;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	margin: 5px 0;
}

#cpu, #memory, #disk, #temperature {
    color: @lavender;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
    padding-right: 1.25rem;
}

#network {
	color: @peach;
    padding-right: 1.25rem;
}

#custom-nordvpn {
    padding-right: 1.25rem;
}

#pulseaudio {
	color: @red;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
    margin-left: 1rem;
}

#custom-power {
    margin-right: 1rem;
    padding-right: 1.20rem;
}

#tray {
    border-radius: 1rem;
}
