// Catppuccin Palette
// Color Scheme: Mocha

$base:    #1e1e2e;
$mantle:  #181825;
$crust:   #11111b;

$text:      #cdd6f4;
$subtext0:  #a6adc8;
$subtext1:  #bac2de;

$surface0:  #313244;
$surface1:  #45475a;
$surface2:  #585b70;

$overlay0:  #6c7086;
$overlay1:  #7f849c;
$overlay2:  #9399b2;

$blue:       #89b4fa;
$lavender:   #b4befe;
$sapphire:   #74c7ec;
$sky:        #89dceb;
$teal:       #94e2d5;
$green:      #a6e3a1;
$yellow:     #f9e2af;
$peach:      #fab387;
$maroon:     #eba0ac;
$red:        #f38ba8;
$mauve:      #cba6f7;
$pink:       #f5c2e7;
$flamingo:   #f2cdcd;
$rosewater:  #f5e0dc;


// Universal Styling
* {
    all: unset;
    font-family: Caskaydia Cove Nerd Font;
}

// Bar Styling
.bar {
    background-color: $base;
    color: $text;
    margin: 5px 0;
    padding: 0px 10px;
    border: 1px solid $blue;
    border-radius: 5px;
}

.bar_left {

}

.bar_center {

}

.bar_right {
    
}

// Module Styling
.mod_clock {
    color: $text;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.ws-btn{
    margin: 0px 7px 0px 0px;
}