
// Bar Styling
.bar {
    background-color: $base;
    color: $text;
    margin: 5px 0;
    padding: 0px 5px;
    border: 1px solid $blue;
    border-radius: 5px;
}

.bar_left {

}

.bar_center {

}

.bar_right {
    
}

// Module Styling
.mod_clock {
    color: $text;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.ws-btn {
    margin: 0px 7px 0px 0px;
}