window {
    /* background-image: url("/home/str1ke/.dotfiles/assets/wallpapers/neon_city.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

